/* Add your styles here */
.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-weight: bold;
}

.input {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-top: 5px;
}
